body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  height: 130px;
}

@media (max-width: 768px) {
  .header {
    height: 60px;
  }
}

.header .header-inner {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .header .header-inner {
    padding: 0 10px;
  }
}

.header-logo a img {
  width: 263px;
  height: 73px;
}

.business-hours {
  text-align: right;
  font: normal normal normal 14px/20px Noto Sans JP;
  letter-spacing: 0px;
  color: #444444;
  margin-bottom: 7px;
}

.tel {
  text-align: right;
}

.tel span {
  position: relative;
  font: normal normal bold 24px/24px Noto Sans JP;
  letter-spacing: 0px;
  color: #21A937;
  opacity: 1;
}

.tel span::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0px;
  left: -29px;
  background: url(../img/telephone-icon.svg) no-repeat;
}

.mv {
  height: 947px;
  background-image: url(../img/fv.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

.mv-info {
  display: inline-block;
  width: 102px;
  height: 565px;
  margin-top: 133px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: center;
  vertical-align: middle;
  padding: 18px 0 0;
}

.mv-info:nth-child(1) {
  margin-left: 262px;
}

.mv-info:nth-child(2) {
  margin-left: 80px;
}

.mv-info span {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font: normal normal bold 28px/34px Noto Sans JP;
  letter-spacing: 0px;
  opacity: 1;
  color: #444444;
}

.mv-info span .green {
  color: #21A937;
}

.belief-inner {
  height: 664px;
}

.belief-inner {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
}

.belief-title {
  font: normal normal bold 24px/35px Noto Sans JP;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  position: relative;
  margin-left: 31px;
}

.belief-title:nth-child(1) {
  margin-top: 193px;
}

.belief-title:nth-child(2) {
  margin-top: 32px;
  margin-bottom: 37px;
}

.belief-title:nth-child(1)::before {
  position: absolute;
  content: '';
  top: 25px;
  left: 0px;
  width: 276px;
  height: 10px;
  background: #99E5A5 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: -1;
}

.belief-title:nth-child(2)::before {
  position: absolute;
  content: '';
  top: 25px;
  left: 0px;
  width: 216px;
  height: 10px;
  background: #99E5A5 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: -1;
}

.belief-desc {
  font: normal normal normal 16px/38px Noto Sans JP;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  margin-left: 31px;
  margin-right: 44px;
}

.belief-img {
  width: 690px;
  height: 420px;
  margin-top: 162px;
}

.contents {
  height: 1520px;
  background: #F5FCF8 0% 0% no-repeat padding-box;
  opacity: 1;
}

.contents-inner {
  max-width: 1180px;
  margin: 0 auto;
}

.contents-title {
  padding-top: 78px;
  text-align: center;
  font: normal normal bold 24px/38px Noto Sans JP;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  position: relative;
  z-index: 1;
}

.contents-title::before {
  position: absolute;
  content: '';
  top: 103px;
  left: 0;
  right: 0;
  width: 96px;
  height: 10px;
  background: #99E5A5 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: -1;
  margin: auto;
}

.contents-desc {
  margin-top: 70px;
  margin-bottom: 34px;
  text-align: center;
  font: normal normal normal 16px/38px Noto Sans JP;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
}

.contents-block-wrapper {
  display: flex;
  justify-content: space-between;
}

.contents-block {
  position: relative;
  width: 380px;
  height: 591px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #C9C9C9;
  border-radius: 10px;
  opacity: 1;
}

.contents-block-title {
  margin-top: 40px;
  margin-bottom: 45px;
  text-align: center;
  font: normal normal bold 24px/38px Noto Sans JP;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
}

.contents-block-example {
  padding: 0 28px;
  font: normal normal bold 16px/38px Noto Sans JP;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  word-break: keep-all;
}

.contents-block-img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  vertical-align: bottom;
}

.contents-block-img img {
  width: 187px;
  height: 187px;
}

.info-title {
  margin-top: 82px;
  margin-bottom: 70px;
  text-align: center;
  font: normal normal bold 24px/38px Noto Sans JP;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  position: relative;
  z-index: 1;
}

.info-title::before {
  position: absolute;
  content: '';
  top: 25px;
  left: 0;
  right: 0;
  width: 96px;
  height: 10px;
  background: #99E5A5 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: -1;
  margin: auto;
}

.info-list {
  width: 1180px;
  height: 390px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 30px;
  opacity: 1;
  padding: 29.5px 66px 109.5px;
}

.info {
  padding: 18.5px 0 17.5px;
  border-bottom: 2px solid #E7E7E7;
}

.info-date {
  display: inline-block;
  font: normal normal bold 16px/24px Noto Sans JP;
  letter-spacing: 0px;
  color: #21A937;
  opacity: 1;
  margin-right: 30px;
}

.info-category {
  display: inline-block;
  width: 80px;
  height: 25px;
  padding: 4px 0;
  text-align: center;
  background: var(--ベースカラー) 0% 0% no-repeat padding-box;
  background: #444444 0% 0% no-repeat padding-box;
  margin-right: 30px;
}

.info-category span {
  margin: auto 0;
  font: normal normal bold 12px/12px Noto Sans JP;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.info-body {
  display: inline-block;
  font: normal normal bold 16px/24px Noto Sans JP;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
}

.info-all {
  position: relative;
  padding-top: 38.5px;
  text-align: right;
}

.info-all span {
  font: normal normal bold 16px/24px Noto Sans JP;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
}

.info-all-triangle {
  position: absolute;
  top: 43.5px;
  right: -17.52px;
  width: 0;
  height: 0;
  border-left: 10px solid #444444;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.footer {
  height: 799px;
}

.footer-inner {
  max-width: 1180px;
  padding-top: 196px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer-map {
  width: 50%;
  flex-shrink: 0;
  margin-bottom: 163px;
  margin-right: 38.5px;
}

.footer-info {
  width: 50%;
  max-width: 533px;
  flex-shrink: 0;
}

.footer-logo {
  margin-bottom: 25px;
}

.footer-logo img {
  width: 263px;
  height: 73px;
}

.footer-address {
  display: inline-block;
  font: normal normal normal 16px/24px Noto Sans JP;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
}

.footer-address:nth-child(1) {
  margin-right: 12px;
}

.footer-tel {
  height: 35px;
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 28.5px;
  padding-left: 30px;
}

.footer-tel span {
  position: relative;
  font: normal normal bold 24px/24px Noto Sans JP;
  letter-spacing: 0px;
  color: #21A937;
  opacity: 1;
}

.footer-tel span::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0px;
  left: -29px;
  background: url(../img/telephone-icon.svg) no-repeat;
}

.footer-hr-top {
  border: 2px solid #E7E7E7;
  opacity: 1;
  margin-bottom: 21.5px;
}

.footer-consultation-time {
  height: 95px;
  display: flex;
}

.footer-consultation-time-left {
  width: 84.5px;
  font: normal normal normal 14px/20px Noto Sans JP;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  border-right: 2px solid #E7E7E7;
}

.footer-consultation-time-right {
  font: normal normal normal 14px/20px Noto Sans JP;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  margin-left: 28.5px;
}

.footer-consultation-time-day-of-week {
  margin-bottom: 13px;
}

.footer-consultation-time-day-of-week div {
  display: inline-block;
}

.footer-consultation-time-day-of-week div:nth-child(1) {
  margin-right: 23px;
  position: relative;
}

.footer-consultation-time-day-of-week div:nth-child(1):before {
  margin-right: 23px;
  position: absolute;
  content: '';
  top: 14px;
  left: 0px;
  width: 42px;
  height: 4px;
  background: #99E5A5 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: -1;
}

.footer-consultation-time-day-of-week div:nth-child(2) {
  margin-right: 17px;
}

.footer-closed-days {
  margin-top: 31px;
  display: flex;
  flex-direction: row;
}

.footer-closed-days-left {
  display: inline-block;
  width: 84.5px;
  height: 29px;
  font: normal normal normal 14px/24px Noto Sans JP;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  border-right: 2px solid #E7E7E7;
  display: flex;
  align-items: center;
}

.footer-closed-days-right {
  display: inline-block;
  height: 29px;
  font: normal normal normal 14px/24px Noto Sans JP;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  display: flex;
  align-items: center;
  margin-left: 28.5px;
}

.footer-hr-bottom {
  border: 2px solid #E7E7E7;
  opacity: 1;
  margin-top: 19px;
}

.footer-copyright {
  margin-top: 21.5px;
  text-align: right;
  font: normal normal normal 11px/16px Noto Sans JP;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
}
