@charset "utf-8";

/* 共通項目 */
body {
  margin: 0;
  font-family: adobe-arabic, sans-serif;
  font-weight: 400;
  font-style: normal;
}
p,
h1,
h2,
h3,
h4,
a {
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}

/* ヘッダー */
.header {
  min-height: 60px;
  background-color: #66CC99;

  .header-inner {
    display: flex;
    padding: 20px 30px;

    .header-title {
      color: white;
      font: bold 24px/24px sans-serif;

      @media (min-width: 768px) {
        width: 35%;
      }
    }

    .header-menu {
      padding: 0 20px;

      @media (max-width: 767px) {
        display: none;
      }

      @media (min-width: 768px) {
        width: 35%;
      }

      a {
        color: white;
        font: 16px/16px sans-serif;
        margin-right: 10px;
      }
    }

    .header-contact {
      @media (max-width: 767px) {
        display: none;
      }

      .header-contact-button {
        background-color: white;
        color: #66CC99;
        font: bold 16px/16px sans-serif;
        padding: 10px 20px;
        border-radius: 12px;
      }
    }
  }
}

/* メイン画像 */
.main {
  .main-image {
    background: url('../img/web_production.png');
    height: 450px;
    padding-top: 150px;

    .main-message {
      height: 200px;
      background-color: rgba(139, 202, 154, 0.7);
      color: white;
      padding: 100px 30px 0;

      p {
        color: white;
        font: bold 48px/60px sans-serif;
        text-align: center;
      }
    }
  }
}
