@charset "UTF-8";
/* 共通項目 */
body {
  margin: 0;
  font-family: adobe-arabic, sans-serif;
  font-weight: 400;
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
a {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* 色指定 */
/* ヘッダー */
.header {
  min-height: 60px;
  background-color: #66CC99;
}

.header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 30px;
}

.header .header-inner .header-title {
  color: white;
  font: bold 24px/24px sans-serif;
}

@media (min-width: 768px) {
  .header .header-inner .header-title {
    width: calc((100% - 200px) / 2);
  }
}

.header .header-inner .header-menu {
  padding: 0 20px;
}

@media (max-width: 767px) {
  .header .header-inner .header-menu {
    display: none;
  }
}

@media (min-width: 768px) {
  .header .header-inner .header-menu {
    width: calc((100% - 200px) / 2);
  }
}

.header .header-inner .header-menu a {
  color: white;
  font: 16px/16px sans-serif;
  margin-right: 40px;
}

.header .header-inner .header-menu a:hover {
  opacity: 0.5;
}

.header .header-inner .header-contact {
  min-width: 200px;
}

@media (max-width: 767px) {
  .header .header-inner .header-contact {
    display: none;
  }
}

.header .header-inner .header-contact .header-contact-button {
  background-color: white;
  color: #66CC99;
  font: bold 16px/16px sans-serif;
  padding: 10px 20px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 5px 0px #999999;
          box-shadow: 0px 2px 5px 0px #999999;
}

.header .header-inner .header-contact .header-contact-button:hover {
  background-color: #66CC99;
  color: white;
}

/* メイン画像 */
.main .main-image {
  background: url("../img/web_production.png");
  height: 450px;
  padding-top: 150px;
}

.main .main-image .main-message {
  height: 200px;
  background-color: rgba(139, 202, 154, 0.7);
  color: white;
  padding: 100px 30px 0;
}

.main .main-image .main-message p {
  color: white;
  font: bold 48px/60px sans-serif;
  text-align: center;
}

/* プロフィール */
.profile {
  min-height: 500px;
  background-color: white;
}

.profile .profile-title {
  font: bold 36px/40px sans-serif;
  color: #333333;
  text-align: center;
  padding-top: 30px;
}

.profile .profile-sub-title {
  font: bold 16px/20px sans-serif;
  color: #333333;
  text-align: center;
  padding-top: 10px;
}

.profile .profile-contents {
  padding: 30px;
}

@media (min-width: 768px) {
  .profile .profile-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.profile .profile-contents .profile-photo {
  padding: 0 30px;
}

@media (min-width: 768px) {
  .profile .profile-contents .profile-photo {
    width: 50%;
  }
}

.profile .profile-contents .profile-photo img {
  width: 100%;
  height: auto;
}

.profile .profile-contents .profile-description {
  padding: 0 30px;
}

@media (min-width: 768px) {
  .profile .profile-contents .profile-description {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .profile .profile-contents .profile-description {
    margin-top: 30px;
  }
}

.profile .profile-contents .profile-description p {
  font: 20px/24px sans-serif;
}

.profile .profile-contents .profile-description p.profile-name {
  font: bold 28px/32px sans-serif;
  margin: 0 0 20px;
}

/* 実績紹介 */
.works {
  min-height: 500px;
  background-color: #E6FFE9;
  padding-bottom: 30px;
}

.works .works-inner {
  width: 90%;
  max-width: 1180px;
  margin: 0 auto;
}

.works .works-inner .works-title {
  font: bold 36px/40px sans-serif;
  color: #333333;
  text-align: center;
  padding-top: 30px;
}

.works .works-inner .works-sub-title {
  font: bold 16px/20px sans-serif;
  color: #333333;
  text-align: center;
  padding: 10px 0 40px;
}

.works .works-inner .works-contents .works-content {
  margin-bottom: 35px;
}

.works .works-inner .works-contents .works-content .works-content-title {
  font: bold 20px/28px sans-serif;
  margin-bottom: 20px;
}

.works .works-inner .works-contents .works-content .works-content-title .works-link {
  background-color: #66CC99;
  color: white;
  font: 14px/14px sans-serif;
  padding: 8px 16px;
  border-radius: 12px;
  margin-left: 10px;
  -webkit-box-shadow: 0px 2px 5px 0px #999999;
          box-shadow: 0px 2px 5px 0px #999999;
}

.works .works-inner .works-contents .works-content .works-content-title .works-link:hover {
  background-color: white;
  color: #66CC99;
}

/* サービス紹介 */
.service {
  min-height: 500px;
  background-color: white;
  padding-bottom: 30px;
}

.service .service-inner {
  width: 90%;
  max-width: 1180px;
  margin: 0 auto;
}

.service .service-inner .service-title {
  font: bold 36px/40px sans-serif;
  color: #333333;
  text-align: center;
  padding-top: 30px;
}

.service .service-inner .service-sub-title {
  font: bold 16px/20px sans-serif;
  color: #333333;
  text-align: center;
  padding: 10px 0 40px;
}

.service .service-inner .service-contents .service-content {
  margin-bottom: 35px;
}

.service .service-inner .service-contents .service-content .service-content-title {
  font: bold 20px/28px sans-serif;
  margin-bottom: 20px;
}

/* お問い合わせ */
.contact {
  height: 400px;
  background-color: #E6FFE9;
}

.contact .contact-inner {
  width: 90%;
  max-width: 1180px;
  margin: 0 auto;
}

.contact .contact-inner .contact-title {
  font: bold 40px/48px sans-serif;
  color: #333333;
  text-align: center;
  padding-top: 60px;
}

.contact .contact-inner .contact-description {
  text-align: center;
  font: 20px/24px sans-serif;
  color: #333333;
  margin: 30px 0 0;
}

.contact .contact-inner .contact-button-wrapper {
  margin: 60px 0 0;
  text-align: center;
}

.contact .contact-inner .contact-button-wrapper .contact-button {
  background-color: #66CC99;
  color: white;
  font: bold 28px/28px sans-serif;
  padding: 20px 36px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 5px 0px #999999;
          box-shadow: 0px 2px 5px 0px #999999;
}

.contact .contact-inner .contact-button-wrapper .contact-button:hover {
  background-color: white;
  color: #66CC99;
}

/* フッター */
.footer {
  height: 80px;
  background-color: #66CC99;
}

.footer .footer-inner {
  width: 90%;
  max-width: 1180px;
  margin: 0 auto;
}

.footer .footer-inner .footer-copyright {
  font: 16px/80px sans-serif;
  color: white;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */