@charset "utf-8";

/* 共通項目 */
body {
  margin: 0;
  font-family: adobe-arabic, sans-serif;
  font-weight: 400;
  font-style: normal;
}
p,
h1,
h2,
h3,
h4,
a {
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}

/* ヘッダー */
.header {
  min-height: 60px;
  background-color: #66CC99;

  .header-inner {
    display: flex;
    padding: 20px 30px;

    .header-title {
      color: white;
      font: bold 24px/24px sans-serif;

      @media (min-width: 768px) {
        width: 40%;
      }
    }

    .header-menu {
      padding: 0 20px;

      @media (max-width: 767px) {
        display: none;
      }

      @media (min-width: 768px) {
        width: 35%;
      }

      a {
        color: white;
        font: 16px/16px sans-serif;
        margin-right: 40px;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    .header-contact {
      @media (max-width: 767px) {
        display: none;
      }

      .header-contact-button {
        background-color: white;
        color: #66CC99;
        font: bold 16px/16px sans-serif;
        padding: 10px 20px;
        border-radius: 12px;
        box-shadow: 0px 2px 5px 0px #999999;

        &:hover {
          background-color: #66CC99;
          color: white;
        }
      }
    }
  }
}

/* メイン画像 */
.main {
  .main-image {
    background: url('../img/web_production.png');
    height: 450px;
    padding-top: 150px;

    .main-message {
      height: 200px;
      background-color: rgba(139, 202, 154, 0.7);
      color: white;
      padding: 100px 30px 0;

      p {
        color: white;
        font: bold 48px/60px sans-serif;
        text-align: center;
      }
    }
  }
}

/* プロフィール */
.profile {
  min-height: 500px;
  background-color: white;

  .profile-title {
    font: bold 48px/60px sans-serif;
    color: #333333;
    text-align: center;
    padding-top: 30px;
  }

  .profile-sub-title {
    font: bold 20px/24px sans-serif;
    color: #333333;
    text-align: center;
    padding-top: 10px;
  }

  .profile-contents {
    padding: 30px;

    @media (min-width: 768px) {
      display: flex;
    }

    .profile-photo {
      padding: 0 30px;
      @media (min-width: 768px) {
        width: 50%;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .profile-description {
      padding: 0 30px;
      @media (min-width: 768px) {
        width: 50%;
      }
      @media (max-width: 767px) {
        margin-top: 30px;
      }

      p {
        font: 20px/24px sans-serif;

        &.profile-name {
          font: bold 28px/32px sans-serif;
          margin: 0 0 20px;
        }
      }
    }
  }
}

/* 実績紹介 */
.works {
  min-height: 500px;
  background-color: #E6FFE9;
  padding-bottom: 30px;

  .works-inner {
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;

    .works-title {
      font: bold 48px/60px sans-serif;
      color: #333333;
      text-align: center;
      padding-top: 30px;
    }

    .works-sub-title {
      font: bold 20px/24px sans-serif;
      color: #333333;
      text-align: center;
      padding: 10px 0 40px;
    }

    .works-contents {
      .works-content {
        margin-bottom: 35px;

        .works-content-title {
          font: bold 20px/28px sans-serif;
          margin-bottom: 20px;

          .works-link {
            background-color: #66CC99;
            color: white;
            font: 14px/14px sans-serif;
            padding: 8px 16px;
            border-radius: 12px;
            margin-left: 10px;
            box-shadow: 0px 2px 5px 0px #999999;

            &:hover {
              background-color: white;
              color: #66CC99;
            }
          }
        }
      }
    }
  }
}

/* サービス紹介 */
.service {
  height: 600px;
  background-color: white;

  .service-inner {
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;

    .service-title {
      font: bold 48px/60px sans-serif;
      color: #333333;
      text-align: center;
      padding-top: 30px;
    }

    .service-sub-title {
      font: bold 20px/24px sans-serif;
      color: #333333;
      text-align: center;
      padding-top: 10px;
    }
  }
}

/* お問い合わせ */
.contact {
  height: 400px;
  background-color: #E6FFE9;

  .contact-inner {
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;

    .contact-title {
      font: bold 48px/60px sans-serif;
      color: #333333;
      text-align: center;
      padding-top: 60px;
    }

    .contact-description {
      text-align: center;
      font: 20px/24px sans-serif;
      color: #333333;
      margin: 30px 0 0;
    }

    .contact-button-wrapper {
      margin: 60px 0 0;
      text-align: center;

      .contact-button {
        background-color: #66CC99;
        color: white;
        font: bold 28px/28px sans-serif;
        padding: 20px 36px;
        border-radius: 12px;
        box-shadow: 0px 2px 5px 0px #999999;

        &:hover {
          background-color: white;
          color: #66CC99;
        }
      }
    }
  }
}

/* フッター */
.footer {
  height: 80px;
  background-color: #66CC99;

  .footer-inner {
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;

    .footer-copyright {
      font: 16px/80px sans-serif;
      color: white;
      text-align: center;
    }
  }
}
