@charset "UTF-8";
/* 共通項目 */
body {
  margin: 0;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 1.5;
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
figure {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

section,
div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 色指定 */
/* PC/SPのブレイクポイント指定 */
/* 共通で使うレイアウト */
.ly_inner {
  padding: 0 50px;
}

.el_title {
  color: #201612;
  font-size: 2.5rem;
  text-align: center;
}

.el_subTitle {
  color: #201612;
  font-size: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .hp_sp {
    display: none;
  }
}

/* ヘッダー */
.header {
  position: relative;
  min-height: 60px;
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 30px;
}

.header .header-inner .header-title {
  color: #201612;
  font: 700 24px/24px Montserrat;
}

@media (min-width: 768px) {
  .header .header-inner .header-title {
    width: calc((100% - 200px) / 2);
  }
}

@media (max-width: 767px) {
  .header .header-inner .header-title {
    font: 700 14px/20px Montserrat;
  }
}

.header .header-inner .header-menu {
  padding: 0 20px;
}

@media (max-width: 767px) {
  .header .header-inner .header-menu {
    display: none;
  }
}

@media (min-width: 768px) {
  .header .header-inner .header-menu {
    width: calc((100% - 200px) / 2);
  }
}

.header .header-inner .header-menu a {
  color: #201612;
  font: 16px/16px sans-serif;
  font-weight: 700;
  margin-right: 40px;
}

.header .header-inner .header-menu a:hover {
  opacity: 0.5;
}

.header .header-inner .header-contact {
  min-width: 200px;
}

@media (max-width: 767px) {
  .header .header-inner .header-contact {
    display: none;
  }
}

.header .header-inner .header-contact .header-contact-button {
  background-color: white;
  color: #66CC99;
  font: bold 16px/16px sans-serif;
  padding: 10px 20px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 5px 0px #999999;
          box-shadow: 0px 2px 5px 0px #999999;
}

.header .header-inner .header-contact .header-contact-button:hover {
  background-color: #66CC99;
  color: white;
}

.header .header-menu-button-sp {
  position: absolute;
  top: 12px;
  right: 15px;
  height: 30px;
  cursor: pointer;
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  margin: 0 21px 0 0;
}

@media (min-width: 768px) {
  .header .header-menu-button-sp {
    display: none;
  }
}

.header .header-menu-button-sp i {
  color: white;
  padding: 8px 12px;
}

/* ハンバーガーメニュー */
.hamburgar-menu-sp {
  top: -120px;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 120px;
  padding: 25px 0;
  text-align: center;
  background: #E6FFE9;
  border-top: 1px solid #66CC99;
  border-bottom: 1px solid #66CC99;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.hamburgar-menu-sp div {
  padding: 10px 0;
}

.hamburgar-menu-sp div a {
  font: normal normal bold 16px/20px Noto Sans JP;
  color: #333333;
}

.hamburgar-menu-sp div a:hover {
  opacity: 0.5;
}

.hamburgar-menu-sp.show {
  -webkit-transform: translateY(180px);
          transform: translateY(180px);
}

/* ヘッダー部分の余白 */
.header-margin {
  width: 100%;
  height: 60px;
}

/* ファーストビュー */
.ly_fv {
  height: 450px;
  padding: 150px 0;
  background-image: url("../img/fv-image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bl_fvSubTitle {
  color: #FFFFFF;
  font-size: 1.25rem;
  text-align: center;
}

.bl_fvTitle {
  margin-top: 24px;
  color: #FFFFFF;
  font-size: 2.25rem;
  text-align: center;
}

/* コンセプト */
.ly_concept {
  min-height: 450px;
  padding: 50px 0;
}

.ly_concept_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bl_conceptIntroduction {
  width: 55%;
}

.bl_conceptTitle {
  color: #201612;
  font-size: 1.5rem;
}

.bl_conceptText {
  margin-top: 28px;
  color: #201612;
  font-size: 1rem;
  font-weight: 400;
}

.bl_conceptImg {
  width: 45%;
}

.bl_conceptImg img {
  width: 100%;
  height: auto;
  max-height: 350px;
}

/* 制作実績 */
.ly_works {
  padding: 50px 30px;
  background-color: #F4F4F4;
}

.bl_works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.bl_work {
  width: 30%;
  height: 300px;
  border: 1px solid #201612;
  border-radius: 4px;
  background-color: gray;
}

/* お問い合わせ */
.contact {
  height: 400px;
  background-color: #E6FFE9;
}

.contact .contact-inner {
  width: 90%;
  max-width: 1180px;
  margin: 0 auto;
}

.contact .contact-inner .contact-title {
  font: bold 36px/40px sans-serif;
  color: #333333;
  text-align: center;
  padding-top: 60px;
}

@media (max-width: 767px) {
  .contact .contact-inner .contact-title {
    font: bold 32px/40px sans-serif;
  }
}

.contact .contact-inner .contact-description {
  text-align: center;
  font: 16px/20px sans-serif;
  color: #333333;
  margin: 30px 0 0;
}

.contact .contact-inner .contact-button-wrapper {
  margin: 60px 0 0;
  text-align: center;
}

.contact .contact-inner .contact-button-wrapper .contact-button {
  background-color: #66CC99;
  color: white;
  font: bold 28px/28px sans-serif;
  padding: 20px 36px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 5px 0px #999999;
          box-shadow: 0px 2px 5px 0px #999999;
}

.contact .contact-inner .contact-button-wrapper .contact-button:hover {
  background-color: white;
  color: #66CC99;
}

/* フッター */
.footer {
  min-height: 80px;
  background-color: #66CC99;
}

.footer .footer-inner {
  width: 90%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 32px 0;
}

.footer .footer-inner .footer-copyright {
  font: 16px/16px sans-serif;
  color: white;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */