// PC/iPad/SPのブレイクポイント指定
// ブレイクポイント指定の理由は以下の記事を参照
// https://hashimotosan.hatenablog.jp/entry/2020/12/06/182327
$sp-max-width: 519px;
$ipad-min-width: 520px;
$ipad-max-width: 959px;
$pc-min-width: 960px;

// 共通で使用するCSS
body {
  font-family: 'Times New Roman', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho',
               'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HiraMinProN-W3',
               'HGS明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .5s;
  &.header--black {
    background-color: transparent;
  }

  .header-logo-menu {
    display: flex;
    align-items: center;

    .header-logo {
      margin-left: 20px;
      img {
        width: 200px;
        height: 40px;
        @media (max-width: $sp-max-width) {
          width: 120px;
          height: 24px;
        }
        &.header-image--scrolled {
          display: none;
        }
      }
    }
  
    .header-menu {
      margin-left: 120px;
      @media (max-width: $ipad-max-width) {
        display: none;
      }
      a {
        margin-right: 30px;
      }
      &.header-menu--white {
        a {
          color: #ffffff;
        }
      }
    }
  }

  .header-reservation-hmenu {
    display: flex;
    align-items: center;

    .header-reservation {
      margin-right: 20px;
      padding: 16px 37px;
      width: 170px;
      height: 54px;
      background-color: #978F10;
      color: #ffffff;
      cursor: pointer;
      img {
        width: 22px;
        height: 22px;
      }
      span {
        font: normal normal 800 16px/22px YuMincho;
        margin-left: 6px;
        vertical-align: top;
      }
      @media (max-width: $ipad-max-width) {
        margin-right: 10px;
        padding: 4px 10px;
        width: 100px;
        height: 24px;
        img {
          width: 16px;
          height: 16px;
        }
        span {
          font: normal normal 800 14px/16px YuMincho;
          margin-left: 4px;
        }
      }
    }

    .header-hmenu-button {
      @media (min-width: $pc-min-width) {
        display: none;
      }
      margin-right: 20px;
      color: #ffffff;
      cursor: pointer;
    }
  }
}
