// PC/iPad/SPのブレイクポイント指定
// ブレイクポイント指定の理由は以下の記事を参照
// https://hashimotosan.hatenablog.jp/entry/2020/12/06/182327
$sp-max-width: 519px;
$ipad-min-width: 520px;
$ipad-max-width: 959px;
$pc-min-width: 960px;

// 共通で使用するCSS
.no-scroll {
  overflow: hidden;
}

body {
  font-family: 'Times New Roman', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho',
               'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HiraMinProN-W3',
               'HGS明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .5s;
  &.header--black {
    background-color: transparent;
  }

  .header-logo-menu {
    display: flex;
    align-items: center;

    .header-logo {
      margin-left: 20px;
      img {
        width: 200px;
        height: 40px;
        @media (max-width: $sp-max-width) {
          width: 120px;
          height: 24px;
        }
        &.header-image--scrolled {
          display: none;
        }
      }
    }
  
    .header-menu {
      margin-left: 120px;
      @media (max-width: $ipad-max-width) {
        display: none;
      }
      a {
        margin-right: 30px;
      }
      &.header-menu--white {
        a {
          color: #ffffff;
        }
      }
    }
  }

  .header-reservation-hmenu {
    display: flex;
    align-items: center;

    .header-reservation {
      margin-right: 20px;
      padding: 16px 37px;
      width: 170px;
      height: 54px;
      background-color: #978F10;
      color: #ffffff;
      border: none;
      cursor: pointer;
      img {
        width: 22px;
        height: 22px;
      }
      span {
        font: normal normal 800 16px/22px YuMincho;
        margin-left: 6px;
        vertical-align: top;
      }
      @media (max-width: $ipad-max-width) {
        margin-right: 10px;
        padding: 4px 10px;
        width: 100px;
        height: 24px;
        img {
          width: 16px;
          height: 16px;
        }
        span {
          font: normal normal 800 14px/16px YuMincho;
          margin-left: 4px;
        }
      }
    }

    .header-hmenu-button {
      @media (min-width: $pc-min-width) {
        display: none;
      }
      margin-right: 20px;
      background-color: #ffffff;
      border: none;
      cursor: pointer;
      i {
        background-color: #ffffff;
        color: #000000;
        display: none;
        &.show {
          display: block;
        }
      }
      &.header-hmenu-button--white {
          background-color: #000000;
        i {
          background-color: #000000;
          color: #ffffff;
        }
      }
    }
  }
}

.hmenu {
  top: 80px;
  width: 100%;
  height: calc(100% - 80px);
  background: #ffffff;
  position: fixed;
  z-index: 100;
  transform: scale(0);
  transition: all 0.8s;
  &.show {
    transform: scale(1);
    @media (min-width: $pc-min-width) {
      display: none;
    }
  }
  .hmenu-contents {
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 30px);
    div {
      text-align: center;
      font: normal normal 700 20px/20px YuMincho;
      &:not(:last-child) {
        padding-bottom: 30px;
      }
    }
  }
}

.modal-area {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 101;
  visibility: hidden;
  &.show {
    visibility: visible;
  }
  .modal-background {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(30, 30, 30, 0.7);
  }
  .modal-wrapper {
    position: absolute;
    top: calc(50% - 275px);
    left: calc(50% - 300px);
    width: 550px;
    height: 600px;
    background: #ffffff;
    padding: 0 60px;
    @media (max-width: 610px) {
      width: 90%;
      left: 5%;
    }
    .close-icon {
      position: absolute;
      top: 20px;
      right: 22px;
      width: 18px;
      height: 18px;
      cursor: pointer;
    }
    .modal-title {
      font: normal normal 500 20px/20px YuMincho;
      text-align: center;
      padding: 29px 0 30.5px;
      border-bottom: 1px solid #E7E7E7;
      margin-bottom: 35.5px;
    }
    .modal-content-title {
      font: normal normal medium 16px/16px YuMincho;
      margin-bottom: 14px;
    }
    .modal-content {
      max-width: 429px;
      width: 100%;
      height: 32px;
      border: 1px solid #E7E7E7;
      box-sizing: border-box;
      padding: 9px 10px;
      margin-bottom: 14px;
      &::placeholder {
        color: #6b6767;
      }
      &.modal-content-plan-select {
        appearance: none;
        padding: 8px 10px;
        &.default-color {
          color: #6b6767;
        }
        option:first-child {
          display: none;
        }
      }
    }
    .reservation-submit-button {
      margin: 50px auto 90px;
      width: 198px;
      height: 42px;
      display: block;
      background: #ffffff;
      border: 1px solid #707070;
      box-sizing: border-box;
      font: normal normal 500 16px/16px YuMincho;
      cursor: pointer;
    }
  }
}

.footer {
  height: 582px;
  .footer-contents {
    background-image: url('../img/bg3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 522px;
    padding-top: 64px;
    .footer-menus {
      margin: 0 auto;
      writing-mode: vertical-rl;
      a {
        display: block;
        font: normal normal 500 18px/18px YuMincho;
        letter-spacing: 14px;
        margin-bottom: -14px;
        &:not(:last-child) {
          margin-left: 34px;
        }
      }
    }
    .footer-logo {
      margin: 96px auto 72px;
      width: 145px;
      img {
        width: 145px;
        height: 92px;
      }
    }
    .footer-address {
      font: normal normal 500 16px/16px YuMincho;
      text-align: center;
      margin-bottom: 23px;
      span:first-child {
        margin-right: 21px;
      }
    }
    .footer-tel-fax {
      font: normal normal 500 16px/16px YuMincho;
      text-align: center;
      span:first-child {
        margin-right: 20px;
      }
    }
  }
  .footer-copyright {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
    font: normal normal 500 12px/12px YuMincho;
  }
}
