@charset "UTF-8";
.no-scroll {
  overflow: hidden;
}

body {
  font-family: 'Times New Roman', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HiraMinProN-W3', 'HGS明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  position: fixed;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header.header--black {
  background-color: transparent;
}

.header .header-logo-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-logo-menu .header-logo {
  margin-left: 20px;
}

.header .header-logo-menu .header-logo img {
  width: 200px;
  height: 40px;
}

@media (max-width: 519px) {
  .header .header-logo-menu .header-logo img {
    width: 120px;
    height: 24px;
  }
}

.header .header-logo-menu .header-logo img.header-image--scrolled {
  display: none;
}

.header .header-logo-menu .header-menu {
  margin-left: 120px;
}

@media (max-width: 959px) {
  .header .header-logo-menu .header-menu {
    display: none;
  }
}

.header .header-logo-menu .header-menu a {
  margin-right: 30px;
}

.header .header-logo-menu .header-menu.header-menu--white a {
  color: #ffffff;
}

.header .header-reservation-hmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-reservation-hmenu .header-reservation {
  margin-right: 20px;
  padding: 16px 37px;
  width: 170px;
  height: 54px;
  background-color: #978F10;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.header .header-reservation-hmenu .header-reservation img {
  width: 22px;
  height: 22px;
}

.header .header-reservation-hmenu .header-reservation span {
  font: normal normal 800 16px/22px YuMincho;
  margin-left: 6px;
  vertical-align: top;
}

@media (max-width: 959px) {
  .header .header-reservation-hmenu .header-reservation {
    margin-right: 10px;
    padding: 4px 10px;
    width: 100px;
    height: 24px;
  }
  .header .header-reservation-hmenu .header-reservation img {
    width: 16px;
    height: 16px;
  }
  .header .header-reservation-hmenu .header-reservation span {
    font: normal normal 800 14px/16px YuMincho;
    margin-left: 4px;
  }
}

.header .header-reservation-hmenu .header-hmenu-button {
  margin-right: 20px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

@media (min-width: 960px) {
  .header .header-reservation-hmenu .header-hmenu-button {
    display: none;
  }
}

.header .header-reservation-hmenu .header-hmenu-button i {
  background-color: #ffffff;
  color: #000000;
  display: none;
}

.header .header-reservation-hmenu .header-hmenu-button i.show {
  display: block;
}

.header .header-reservation-hmenu .header-hmenu-button.header-hmenu-button--white {
  background-color: #000000;
}

.header .header-reservation-hmenu .header-hmenu-button.header-hmenu-button--white i {
  background-color: #000000;
  color: #ffffff;
}

.hmenu {
  top: 80px;
  width: 100%;
  height: calc(100% - 80px);
  background: #ffffff;
  position: fixed;
  z-index: 100;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.hmenu.show {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (min-width: 960px) {
  .hmenu.show {
    display: none;
  }
}

.hmenu .hmenu-contents {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 30px);
}

.hmenu .hmenu-contents div {
  text-align: center;
  font: normal normal 700 20px/20px YuMincho;
}

.hmenu .hmenu-contents div:not(:last-child) {
  padding-bottom: 30px;
}
/*# sourceMappingURL=common.css.map */