// PC/iPad/SPのブレイクポイント指定
// ブレイクポイント指定の理由は以下の記事を参照
// https://hashimotosan.hatenablog.jp/entry/2020/12/06/182327
$sp-max-width: 519px;
$ipad-min-width: 520px;
$ipad-max-width: 959px;
$pc-min-width: 960px;

.first-view {
  width: 100%;
  height: 500px;
  background-image: url('../img/oheya-header.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  .first-view-copy {
    font: normal normal 800 34px/34px YuMincho;
    color: #ffffff;
  }
}

.preface {
  padding: 90px 0 70px;
  .preface-inner {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font: normal normal 500 16px/32px YuMincho;
    @media (max-width: $sp-max-width) {
      p {
        text-align: center;
        span {
          display: block;
        }
      }
    }
  }
}

.lower-page-info {
  min-height: 522px;
  padding-bottom: 84px;
  .lower-page-info-inner {
    position: relative;
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;
    .lower-page-info-img {
      max-width: 525px;
      max-height: 300px;
      width: 100%;
      height: auto;
      @media (min-width: $ipad-min-width) and (max-width: 768px) {
        width: 80%;
      }
      @media (min-width: 769px) {
        width: 45%;
      }
    }
    .lower-page-info-main {
      position: absolute;
      top: 57px;
      right: 0px;
      width: 70%;
      min-height: 381px;
      padding: 0 25px 0 22%;
      background-image: url('../img/bg.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
      @media (max-width: 768px) {
        top: 35vw; // (画像の縦幅 - 10px)にしたい
        width: 90%;
      }
      .lower-page-info-title {
        font: normal normal 500 24px/24px YuMincho;
        margin: 60px 0 44px;
      }
      .lower-page-info-description {
        font: normal normal 500 16px/32px YuMincho;
        margin: 0 0 41.5px;
      }
      .lower-page-info-remarks {
        font: normal normal 500 14px/21px YuMincho;
      }
    }
  }
}
