// トップページ
// 下層ページと共通するCSSはcommon.scssで定義
// https://www.esz.co.jp/blog/185.html
@keyframes anime {
  0% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  34% {
    opacity: 1;
  }
  60% {
    opacity: 0;
    z-index: -1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
  }
}

.first-view {
  width: 100%;
  height: 1079px;
  position: relative;
  overflow: hidden;

  .first-view-img {
    width: 100%;
    height: 1079px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
    opacity: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: anime 21s 0s infinite;
    &.img1 {
      background-image: url('../img/mainbg01.jpg');
    }
    &.img2 {
      background-image: url('../img/mainbg02.jpg');
      animation-duration: 8s;
    }
    &.img3 {
      background-image: url('../img/mainbg03.jpg');
      animation-duration: 16s;
    }
  }
}
