// トップページ
// 下層ページと共通するCSSはcommon.scssで定義

// PC/iPad/SPのブレイクポイント指定
// ブレイクポイント指定の理由は以下の記事を参照
// https://hashimotosan.hatenablog.jp/entry/2020/12/06/182327
$sp-max-width: 519px;
$ipad-min-width: 520px;
$ipad-max-width: 959px;
$pc-min-width: 960px;

// https://www.esz.co.jp/blog/185.html
@keyframes anime {
  0% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  60% {
    opacity: 0;
    z-index: -1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
  }
}

// ファーストビュー
.first-view {
  width: 100%;
  height: 1079px;
  position: relative;
  overflow: hidden;

  .first-view-img {
    width: 100%;
    height: 1079px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
    opacity: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: anime 30s 0s infinite;
    &:nth-child(2) {
      animation-delay: 10s;
    }
    &:nth-child(3) {
      animation-delay: 20s;
    }
  }

  .first-view-copy {
    position: absolute;
    top: 362px;
    right: 25%;
    writing-mode: vertical-rl;
    @media (max-width: $ipad-max-width) {
      right: 20%;
    }
    p {
      font: normal normal 800 34px/34px YuMincho;
      color: #FFFFFF;
      letter-spacing: 8px;
      &:first-child {
        margin-left: 51px;
      }
      @media (max-width: $sp-max-width) {
        font: normal normal 800 28px/28px YuMincho;
        &:first-child {
          margin-left: 30px;
        }
      }
    }
  }
}

// 序文
.preface {
  width: 100%;
  height: 681px;
  background-image: url('../img/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .preface-inner {
    max-width: 1180px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    .preface-title {
      font: normal normal 500 28px/28px YuMincho;
      letter-spacing: 14px;
      writing-mode: vertical-rl;
      margin: 149px 101px 0 118px;
      @media (max-width: 1180px) {
        margin-left: 90px;
      }
      @media (max-width: $ipad-max-width) {
        margin-left: 70px;
        margin-right: 40px;
      }
      @media (max-width: 768px) {
        margin-left: 50px;
        margin-right: 20px;
      }
      @media (max-width: $sp-max-width) {
        margin-left: 30px;
        margin-right: 10px;
      }
      @media (max-width: 375px) {
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 8px;
        margin-left: 25px;
        margin-right: 0px;
      }
      p:first-child {
        text-indent: -3em;
      }
      p:nth-child(2) {
        margin-right: 33px;
        @media (max-width: $ipad-max-width) {
          margin-right: 20px;
        }
        @media (max-width: 768px) {
          margin-right: 12px;
        }
        @media (max-width: $sp-max-width) {
          margin-right: 6px;
        }  
        @media (max-width: 374px) {
          margin-right: 4px;
        }  
      }
    }
    .preface-content {
      font: normal normal 500 16px/16px YuMincho;
      letter-spacing: 6px;
      writing-mode: vertical-rl;
      text-orientation: upright;
      margin: 149px 0 0 118px;
      @media (max-width: 1180px) {
        margin-left: 90px;
      }
      @media (max-width: $ipad-max-width) {
        margin-left: 70px;
      }
      @media (max-width: 768px) {
        margin-left: 50px;
      }
      @media (max-width: $sp-max-width) {
        margin-left: 30px;
      }
      @media (max-width: 375px) {
        font-size: 12px;
        line-height: 12px;
        margin-left: 25px;
      }
      p:not(:first-child) {
        margin: 0 22px 0 0;
        @media (max-width: $ipad-max-width) {
          margin-right: 12px;
        }
        @media (max-width: 768px) {
          margin-right: 8px;
        }
        @media (max-width: $sp-max-width) {
          margin-right: 5px;
        }
        @media (max-width: 375px) {
          margin-right: 4px;
        }
      }
    }
    .preface-name {
      font: normal normal 500 22px/22px YuMincho;
      letter-spacing: 10px;
      writing-mode: vertical-rl;
      margin-top: 443px;
      @media (max-width: 375px) {
        font-size: 18px;
      }
    }
  }
}

// お部屋について
.room {
  padding-top: 100px;
  @media (min-width: $pc-min-width) {
    display: flex;
  }
  .room-img-block {
    @media (min-width: $pc-min-width) {
      width: 55%;
    }
    .room-img {
      width: 100%;
      height: auto;
    }
  }
  .room-about {
    min-height: 651px;
    @media (min-width: $pc-min-width) {
      width: 45%;
      padding: 0 5%;
    }
    @media (max-width: $ipad-max-width) {
      width: 90%;
      margin: 0 auto;
      text-align: center;
    }
    .room-title {
      margin-top: 22px;
      p {
        font: normal normal 500 36px/62px YuMincho;
        @media (max-width: $ipad-max-width) {
          font: normal normal 500 30px/48px YuMincho;
        }
        @media (max-width: $sp-max-width) {
          font: normal normal 500 24px/40px YuMincho;
        }
      }
    }
    .room-content {
      margin-top: 75px;
      p {
        font: normal normal 500 16px/32px YuMincho;
      }
    }
    .room-button {
      width: 200px;
      height: 56px;
      background: #ffffff;
      box-sizing: border-box;
      border: 1px solid #707070;
      font: normal normal 500 16px/32px YuMincho;
      margin-top: 75px;
      cursor: pointer;
    }
  }
}
