body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #333333;
}

.header {
  width: 100%;
  height: 94px;
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  position: fixed;
  z-index: 100;
}

.header-inner {
  max-width: 1022px;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 24px 0 23px 20px;
}

.header-logo span {
  font: normal normal bold 24px/35px Noto Sans JP;
  padding: 4px 0 0px 16px;
}

.header-logo img {
  width: 47px;
  height: 47px;
}

@media (max-width: 576px) {
  .header-logo span {
    font: normal normal bold 20px/35px Noto Sans JP;
  }
}

.header-menu {
  padding: 34px 0 36px;
}

.header-menu a {
  font: normal normal bold 16px/24px Noto Sans JP;
  margin: 0 46px 0 0;
}

.header-contact {
  display: inline-block;
  margin: 0 21px 0 0;
  padding: 7px 0 10px;
  width: 155px;
  height: 37px;
  text-align: center;
  background: transparent -webkit-gradient(linear, left top, right top, from(#fa41cc), to(#6020b0)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #fa41cc 0%, #6020b0 100%) 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
}

.header-contact span {
  font: normal normal bold 14px/20px Noto Sans JP;
  color: #ffffff;
}

.header-menu-button-sp {
  cursor: pointer;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  margin: 0 21px 0 0;
}

.header-menu-button-sp i {
  padding: 8px 12px;
}

@media (max-width: 991px) {
  .header-menu {
    display: none;
  }
  .header-contact {
    display: none;
  }
}

@media (min-width: 992px) {
  .header-menu-button-sp {
    display: none;
  }
}

.hamburgar-menu-sp {
  top: -166px;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 260px;
  padding: 25px 0;
  text-align: center;
  background: #ffffff;
  border-top: 1px solid #3ba6c9;
  border-bottom: 1px solid #3ba6c9;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.hamburgar-menu-sp div {
  padding: 20px 0;
}

.hamburgar-menu-sp div a {
  font: normal normal bold 24px/30px Noto Sans JP;
  color: #333333;
}

.hamburgar-menu-sp.show {
  -webkit-transform: translateY(260px);
          transform: translateY(260px);
}

.main-margin {
  width: 100%;
  height: 94px;
}

.main {
  width: 100%;
  background: transparent url("../img/main-circle.svg") no-repeat;
  background-position: right -75px bottom 30px;
}

@media (min-width: 768px) {
  .main {
    height: 674px;
    background-position: right -75px bottom 87px;
  }
}

.main-inner {
  max-width: 1022px;
  width: 90%;
  margin: 0 auto;
  padding: 131px 0 0;
}

@media (min-width: 768px) {
  .main-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main-contents {
  margin: 0 0 0 20px;
}

.main-contents .main-contents-title {
  margin: 28px 0 0 0;
}

.main-contents .main-contents-title p {
  font: normal normal bold 32px/46px Noto Sans JP;
}

.main-contents .main-contents-sub-title {
  margin: 44px 0 0 0;
}

.main-contents .main-contents-sub-title p {
  font: normal normal bold 16px/24px Noto Sans JP;
}

.main-contents .main-contact {
  display: block;
  margin: 45px 0px 0 0;
  padding: 7px 0 10px;
  width: 155px;
  height: 37px;
  text-align: center;
  background: transparent -webkit-gradient(linear, left top, right top, from(#fa41cc), to(#6020b0)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #fa41cc 0%, #6020b0 100%) 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
}

.main-contents .main-contact span {
  font: normal normal bold 14px/20px Noto Sans JP;
  color: #ffffff;
}

.main-image .manager-image img {
  width: 518px;
  height: 430px;
}

@media (max-width: 767px) {
  .main-image {
    margin: 10px 0 30px 0;
  }
}

.features .features-title {
  text-align: center;
  margin: 158px 0 0;
}

.features .features-title span {
  font: normal normal bold 32px/46px Noto Sans JP;
}

.features .features-sub-title {
  text-align: center;
  margin: 10px 0 57px;
}

.features .features-sub-title span {
  font: normal normal bold 16px/24px Noto Sans JP;
  color: #3BA6C9;
}

.features .feature-title {
  text-align: center;
}

.features .feature-title span {
  font: normal normal bold 28px/40px Noto Sans JP;
}

.features .feature-detail.feature1 {
  max-width: 1066px;
  width: 90%;
  margin: 49px auto 86px;
}

.features .feature-detail.feature2 {
  max-width: 1066px;
  width: 90%;
  margin: 59px auto 136px;
}

.features .feature-detail.feature3 {
  max-width: 1066px;
  width: 90%;
  margin: 62px auto 154px;
}

@media (min-width: 768px) {
  .features .feature-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 57px;
  }
}

@media (min-width: 768px) {
  .features .feature-img {
    width: 50%;
  }
}

.features .feature-img img.feature1 {
  width: 380px;
  height: 314px;
}

.features .feature-img img.feature2 {
  width: 479px;
  height: 329px;
}

.features .feature-img img.feature3 {
  width: 400px;
  height: 290px;
}

@media (min-width: 768px) {
  .features .feature-descreption {
    width: 50%;
  }
}

.features .feature-main-descreption p {
  font: normal normal bold 24px/48px Noto Sans JP;
}

.features .feature-sub-descreption p {
  font: normal normal bold 16px/26px Noto Sans JP;
}
/*# sourceMappingURL=style.css.map */