body {
  font-family: 'Noto Sans JP', sans-serif;
}

// ヘッダー
.header {
  width: 100%;
  height: 94px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  position: fixed;
  z-index: 100;
}

.header-inner {
  max-width: 1022px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  margin: 24px 0 23px 20px;

  span {
    font: normal normal bold 24px/35px Noto Sans JP;
    color: #333333;
    padding: 4px 0 0px 16px;
  }

  img {
    width: 47px;
    height: 47px;
  }
}

@media (max-width: 576px) {
  .header-logo {
    span {
      font: normal normal bold 20px/35px Noto Sans JP;
    }
  }
}

.header-menu {
  padding: 34px 0 36px;

  a {
    font: normal normal bold 16px/24px Noto Sans JP;
    color: #333333;
    margin: 0 46px 0 0;
  }
}

.header-contact {
  display: inline-block;
  margin: 0 21px 0 0;
  padding: 7px 0 10px;
  width: 155px;
  height: 37px;
  text-align: center;
  background: transparent linear-gradient(90deg, #fa41cc 0%, #6020b0 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;

  span {
    font: normal normal bold 14px/20px Noto Sans JP;
    color: #ffffff;
  }
}

.header-menu-button-sp {
  cursor: pointer;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  margin: 0 21px 0 0;

  i {
    color: #333333;
    padding: 8px 12px;
  }
}

@media (max-width: 991px) {
  .header-menu {
    display: none;
  }

  .header-contact {
    display: none;
  }
}

@media (min-width: 992px) {
  .header-menu-button-sp {
    display: none;
  }
}

.hamburgar-menu-sp {
  top: -166px;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 260px;
  padding: 25px 0;
  text-align: center;
  background: #ffffff;
  border-top: 1px solid #3ba6c9;
  border-bottom: 1px solid #3ba6c9;
  transition: transform 0.5s;

  div {
    padding: 20px 0;

    a {
      font: normal normal bold 24px/30px Noto Sans JP;
      color: #333333;
    }
  }
}

.hamburgar-menu-sp.show {
  transform: translateY(260px);
}

// ヘッダー部分の余白
.main-margin {
  width: 100%;
  height: 94px;
}

// メイン
.main {
  width: 100%;
  height: 674px;
  border-bottom: 1px solid blue;
}

.main-inner {
  max-width: 1022px;
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.main-contents {
  margin: 0 0 0 20px;

  .main-contents-title {
    margin: 159px 0 0 0;

    p {
      font: normal normal bold 32px/46px Noto Sans JP;
      color: #333333;
    }
  }

  .main-contents-sub-title {
    margin: 44px 0 0 0;

    p {
      font: normal normal bold 16px/24px Noto Sans JP;
      color: #333333;
    }
  }

  .main-contact {
    display: block;
    margin: 45px 0px 0 0;
    padding: 7px 0 10px;
    width: 155px;
    height: 37px;
    text-align: center;
    background: transparent linear-gradient(90deg, #fa41cc 0%, #6020b0 100%) 0%
      0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;

    span {
      font: normal normal bold 14px/20px Noto Sans JP;
      color: #ffffff;
    }
  }
}
